----------
Data taken from Ansible facts
hostname:     {{ ansible_facts['hostname'] }}
distro:       {{ ansible_facts['distribution'] | upper }}

Data taken from variable file
server name:  {{ server_name }}
http port:    {{ http_port }}
----------
