---
- name: Installing and removing Nginx 
  hosts: web
  tasks:
  - name: Update apt cache
    apt:
      update_cache: yes
  - name: Install Nginx
    apt:
      name: nginx
      state: present
  - name: Remove Nginx
    apt:
      name: nginx
      state: absent
